<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

<!-- Selector de vistas -->
<div class="vistas-container">
    <a class="boton-vista" (click)="verGrid()"><i class="material-icons">view_module</i></a>
    <a class="boton-vista" (click)="verLista()"><i class="material-icons">view_list</i></a>
    <a class="boton-vista" (click)="administrar()"><i class="material-icons">insert_chart</i></a>    
</div>

<div class="layout-container">
    <!-- El popup -->
    <div class="popup">
        <div class="popupcontent" id="myPopup">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="{{nuevoProducto.url}}" /></div>
                            <div class="tab-pane" id="pic-2"><img src="http://www.imprintables.com/content/images/thumbs/default-image_450.png" /></div>
                            <div class="tab-pane" id="pic-3"><img src="http://www.imprintables.com/content/images/thumbs/default-image_450.png" /></div>
                            <div class="tab-pane" id="pic-4"><img src="http://www.imprintables.com/content/images/thumbs/default-image_450.png" /></div>
                            <div class="tab-pane" id="pic-5"><img src="http://www.imprintables.com/content/images/thumbs/default-image_450.png" /></div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{nuevoProducto.url}}" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="http://www.imprintables.com/content/images/thumbs/default-image_450.png" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="http://www.imprintables.com/content/images/thumbs/default-image_450.png" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src="http://www.imprintables.com/content/images/thumbs/default-image_450.png" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img src="http://www.imprintables.com/content/images/thumbs/default-image_450.png" /></a></li>
                        </ul>
                    </div>
                    <div class="details col-md-6">
                        <div class="product-title"> {{nuevoProducto.name}} </div>
                        <p class="product-description">{{nuevoProducto.descripcion}}</p>
                        <div class="precio">Precio actual: <span> {{nuevoProducto.precio | currency}}</span></div>
                        <div class="product-description">Dimensiones: {{nuevoProducto.dimensiones}}</div>
                        <div class="product-description">Peso: {{nuevoProducto.peso}}</div>
                        <div class="product-description">Caracteristicas: {{nuevoProducto.caracteristicas}}</div>                        
                        <div class="colors">Color: <span class="color" [ngStyle]="{'background': nuevoProducto.color}"></span></div>
                        <div>
                            <div class="col">
                                <select  id="cant" name="cant" class="form-control cart-quantity validate" [(ngModel)]="quantity">
                                    <option selected="selected" value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                </select>
                            </div>
                            <button class="col add-to-cart button button-primary" (click)="addToCart(nuevoProducto,quantity);mostrarPopup()">Agregar al Carrito <i class="material-icons">add_shopping_cart</i></button>
                        </div>
                    </div>
                    <div class="details col-md-1">    
                        <button class="close-popup  btn-default btn waves-effect waves-light red fix right large" name="action" (click)="mostrarPopup()"><i class="material-icons center">close</i></button>                    </div>
                </div>
            </div>
        </div>                
    </div>

    <!-- Vista Grid -->
    <div class="product-grid" *ngIf="mostrarGrid">
        <div class="selectorCategoria col row">
            <label class="col" for="tipo_filtro"><i class="material-icons">filter_list</i></label>
            <select  id="tipo_filtro" name="tipo_filtro" class="form-control validate col" [(ngModel)]="pipeCategory">
                <option selected="selected" value="">Todo</option>    
                <option value="Casa">Casa</option>
                <option value="Automovil">Automovil</option>
                <option value="Comida">Comida</option>
                <option value="Vestimenta">Vestimenta</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-6" *ngFor="let producto of productos | filter:pipeCategory">
            <div class="product-box">
                <div class="image-container">
                    <img src="{{producto.url}}">            
                    <div class="overlay">
                        <button class="button button-primary" (click)="viewProducto(producto);mostrarPopup();">Ver Detalles</button>
                        <button class="button button-primary" (click)="addToCart(producto)">Agregar al Carrito <i class="material-icons">add_shopping_cart</i></button>
                    </div>
                </div>
                <div class="product-details">
                    <div class="product-name">{{producto.name}}</div>
                    <div class="product-precio">{{producto.precio}}$</div>
                    <div class="product-cantidad">{{producto.cantidad}} en stock</div>              
                </div>
            </div>
        </div>
    </div> 
    <!-- Vista lista -->
    <div class="product-grid" *ngIf="mostrarLista">
        <div class="barraDeBusqueda col row">
            <label class="col" for="term"><i class="material-icons">search</i></label>
            <input  type="text" id="term" name="term" class="form-control validate col" [(ngModel)]="term"/>
        </div>
        <table class="left highlight responsive-table col-md-8" >
            <thead>    
                <tr>
                    <th class="left">ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th class="right">Precio</th>
                </tr>
            </thead>  
            <tbody>
                <tr class="tabla-fila" *ngFor="let producto of productos | filter:term">
                    <td class="left">{{producto.id}}</td>
                    <td >{{producto.name}}</td>
                    <td >{{producto.descripcion}}</td>
                    <td class="right">{{ producto.precio | currency }}</td>
                    <div class="tabla-acciones">
                        <a class="waves-effect waves-light btn red" (click)="delete(producto)"><i class="material-icons">delete</i></a>
                        <a class="waves-effect waves-light btn cyan" (click)="viewProducto(producto)"><i class="material-icons">create</i></a>
                    </div>
                </tr>
            </tbody>
        </table>
        <!-- Formulario para agregar -->
        <!-- Boton para agregar -->
        <div class="col-md-4" *ngIf="!mostrarFormulario">
            <a class="btn-floating btn-large waves-effect waves-light red right pulse" (click)="verFormulario()"><i class="material-icons"><i class="material-icons">fiber_new</i></i></a>
        </div>
        <!-- Formulario -->
        <div class="col-md-4 row" *ngIf="mostrarFormulario">
            <div class="form-horizontal formulario">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <fieldset>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productoid">ID:</label> 
                            <div class="col-md-4">
                                <input  type="number" class="form-control input-md" id="productoid" [ngModel]="nuevoProducto?.id" (ngModelChange)="nuevoProducto.id = $event"/>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productoname">Nombre:</label> 
                            <div class="col-md-8">
                                <input  type="text" class="form-control input-md" id="productoname" [ngModel]="nuevoProducto?.name" (ngModelChange)="nuevoProducto.name = $event"/>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productodesc">Descripcion:</label>
                            <div class="col-md-8">
                                <input  type="text" class="form-control input-md" id="productodesc" [ngModel]="nuevoProducto?.descripcion" (ngModelChange)="nuevoProducto.descripcion = $event"/>
                            </div> 
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productoprice">Precio:</label>
                            <div class="col-md-4">
                                <input  type="number" class="form-control input-md" id="productoprice" [ngModel]="nuevoProducto?.precio" (ngModelChange)="nuevoProducto.precio = $event"/>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productofoto">Foto</label>
                            <div class="col-md-3">
                                <input id="productofoto" class="input-file" type="file"  multiple>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="tipo_producto">Tipo:</label>
                            <div class="col-md-6">
                                <select  id="tipo_producto" name="tipo_producto" class="form-control validate" [ngModel]="nuevoProducto?.tipo" (ngModelChange)="nuevoProducto.tipo = $event">
                                <option value="Casa">Casa</option>
                                <option value="Automovil">Automovil</option>
                                <option value="Comida">Comida</option>
                                <option value="Vestimenta">Vestimenta</option>
                                </select>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productocant">Cantidad:</label> 
                            <div class="col-md-4">
                                <input  type="number" class="form-control input-md" id="productocant" [ngModel]="nuevoProducto?.cantidad" (ngModelChange)="nuevoProducto.cantidad = $event"/>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productocolor">Color</label>
                            <div class="col-md-4">
                                <input [(colorPicker)]="nuevoProducto.color" (colorPickerChange)="nuevoProducto.color=$event" [style.background]="nuevoProducto.color" [value]="color" [ngModel]="nuevoProducto?.color" (ngModelChange)="nuevoProducto.color = $event"/>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productodim">Dimensiones:</label>
                            <div class="col-md-8">
                                <input  type="text" class="form-control input-md" id="productodim" [ngModel]="nuevoProducto?.dimensiones" (ngModelChange)="nuevoProducto.dimensiones = $event"/>
                            </div> 
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productopeso">Peso:</label> 
                            <div class="col-md-8">
                                <input  type="text" class="form-control input-md" id="productopeso" [ngModel]="nuevoProducto?.peso" (ngModelChange)="nuevoProducto.peso = $event"/>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="productocaract">Caracteristicas:</label> 
                            <div class="col-md-8">
                                <input  type="text" class="form-control input-md" id="productocaract" [ngModel]="nuevoProducto?.caracteristicas" (ngModelChange)="nuevoProducto.caracteristicas = $event"/>
                            </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-action">
                      <button class="btn waves-effect waves-light green fix right large" name="action" (click)="createProducto()">
                        <i class="material-icons center">send</i>
                      </button>
                      <button class="btn waves-effect waves-light red fix right large" name="action" (click)="cancel()">
                        <i class="material-icons center">cancel</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
    </div>
</div>
