<div>
  <h1>Categorias</h1>
  <div class="row">
    
    <div class="col s2 m6 l4">
      <div class="card horizontal">
        <div class="card-image">
          <i class="large material-icons vertical-center">drive_eta</i>
        </div>
      
        <div class="card-stacked">
          <div class="card-content">
            <p>Todo lo que necesitas para tu automovil</p>
          </div>
          <div class="card-action">
            <a (click)="filter(vehiculo)">Automovil</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s2 m6 l4">
      <div class="card horizontal">
        <div class="card-image">
          <i class="large material-icons vertical-center">local_dining</i>
        </div>
        
        <div class="card-stacked">
          <div class="card-content">
            <p>Los mejores productos para tu mesa</p>
          </div>
          
          <div class="card-action">
            <a href="#">Comestibles</a>
          </div>

        </div>
      </div>
    </div>

    <div class="col s2 m6 l4">
      <div class="card horizontal">
        <div class="card-image">
          <i class="large material-icons vertical-center">account_balance</i>
        </div>

        <div class="card-stacked">
          <div class="card-content">
            <p>Necesitas algo para tu hogar?</p>
          </div>
          
          <div class="card-action">
            <a href="#">Hogar</a>
          </div>

        </div>

      </div>
    </div>
  </div>  

  <h1> Lista de Productos </h1>


  <div class="contenedor">
    <!-- Table starts here -->

    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
          </div>
        </div>
      </div>
    </div>


    <table class="centered highlight responsive-table" >
      <thead>    
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
        </tr>
      </thead>  
      <tbody>
        <tr *ngFor="let producto of productos | async" (click)="onSelect(producto)"
            [class.selected]="producto === selectedProducto">
          <td >{{producto.id}}</td>
          <td >{{producto.name}}</td>
          <td >{{producto.descripcion}}</td>
          <td >{{producto.price}}</td>
          <a class="waves-effect waves-light btn red" *ngIf="producto === selectedProducto" (click)="delete(producto); $event.stopPropagation()">x</a>
          <a class="waves-effect waves-light btn cyan" *ngIf="producto === selectedProducto" (click)="gotoDetail()"><i class="material-icons" (click)="gotoDetail()">create</i></a>
        </tr>
      </tbody>
    </table>

    <br>

    <a class="btn-floating btn-large waves-effect waves-light red right pulse" (click)="agregarProducto=!agregarProducto"><i class="material-icons">+</i></a>
      
    <br><br><br><br>

    <div class="row" *ngIf="agregarProducto">
      <div class="col s12 m6 form-horizontal">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <fieldset>
              <legend>Nuevo Producto</legend>
              <div class="form-group">
                <label class="col-md-4 control-label" for="productoid">ID:</label> 
                <div class="col-md-4">
                  <input  type="number" class="form-control input-md" id="productoid" [ngModel]="nuevoProducto?.id" (ngModelChange)="nuevoProducto.id = $event"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="productoname">Nombre:</label> 
                <div class="col-md-4">
                  <input  type="text" class="form-control input-md" id="productoname" [ngModel]="nuevoProducto?.name" (ngModelChange)="nuevoProducto.name = $event"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="productodesc">Descripcion:</label>
                <div class="col-md-4">
                  <input  type="text" class="form-control input-md" id="productodesc" [ngModel]="nuevoProducto?.descripcion" (ngModelChange)="nuevoProducto.descripcion = $event"/>
                </div> 
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="productoprice">Precio:</label>
                <div class="col-md-4">
                  <input  type="number" class="form-control input-md" id="productoprice" [ngModel]="nuevoProducto?.price" (ngModelChange)="nuevoProducto.price = $event"/>
                </div>
              </div>
              <div class="form-group">
                  <label class="col-md-4 control-label" for="filebutton">Foto</label>
                  <div class="col-md-4">
                    <input id="filebutton" name="filebutton" class="input-file" type="file" >
                  </div>
                </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="tipo_producto">Tipo:</label>
                <div class="col-md-4">
                  <select  id="tipo_producto" name="tipo_producto" class="form-control validate">
                    <option value="Casa">Casa</option>
                    <option value="Automovil">Automovil</option>
                    <option value="Comida">Comida</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light green fix right large" name="action" (click)="createProducto()">
              <i class="material-icons center">send</i>
            </button>
          </div>
          </div>
        </div>
      </div>    
  </div>
</div>