<head>
  <meta charset="utf-8">
  <!-- including ECharts file -->
  <script src="echarts.min.js"></script>
</head>

<body>
  <!-- preparing a DOM with width and height for ECharts -->
  <div class="layout-container">
      <div class="row">
          <div class="col s6" id="grafico1" style="width: 500px;height:300px;"></div>
          <div class="col s6" id="grafico2" style="width: 500px;height:300px;"></div>  
          <div class="col s6" id="grafico3" style="width: 500px;height:300px;margin-top:50px;"></div>
          <div class="col s6" id="grafico4" style="width: 500px;height:300px;margin-top:50px;"></div>  
      </div> 
  </div>
</body>

