<head>
  <meta charset="utf-8">
  <!-- including ECharts file -->
  <script src="echarts.min.js"></script>
</head>

<body>
    <div class="selectorMes col row">
        <label class="col etiqueta" for="mes_desde">Desde</label>
        <select  id="mes_desde" name="mes_desde" class="form-control validate col" [(ngModel)]="pipeCategory">
            <option selected="selected" value="">---</option>    
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
            <option value="Abril">Abril</option>
            <option value="Mayo">Mayo</option>
            <option value="Junio">Junio</option>
            <option value="Julio">Julio</option>
            <option value="Agosto">Agosto</option>
            <option value="Septiembre">Septiempre</option>
            <option value="Octubre">Octubre</option>
            <option value="Noviembre">Noviembre</option>
            <option value="Diciembre">Diciembre</option>
        </select>

        <label class="col etiqueta" for="mes_hasta">Hasta</label>
        <select  id="mes_hasta" name="mes_hasta" class="form-control validate col" [(ngModel)]="pipeCategory">
            <option selected="selected" value="">---</option>    
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
            <option value="Abril">Abril</option>
            <option value="Mayo">Mayo</option>
            <option value="Junio">Junio</option>
            <option value="Julio">Julio</option>
            <option value="Agosto">Agosto</option>
            <option value="Septiembre">Septiempre</option>
            <option value="Octubre">Octubre</option>
            <option value="Noviembre">Noviembre</option>
            <option value="Diciembre">Diciembre</option>
        </select>
    </div>
  <!-- preparing a DOM with width and height for ECharts -->
  <div class="layout-container">
      <div class="row">
          <div class="col s6" id="grafico1" style="width: 500px;height:300px;"></div>
          <div class="col s6" id="grafico2" style="width: 500px;height:300px;"></div>  
          <div class="col s6" id="grafico3" style="width: 500px;height:300px;margin-top:50px;"></div>
          <div class="col s6" id="grafico4" style="width: 500px;height:300px;margin-top:50px;"></div>  
      </div> 
  </div>
</body>

